In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
DATA_PATH = 'C://Users//Matan//Desktop//Outbrain//data'

# clicks_train.csv

In [5]:
doc = 'clicks_train.csv'
acc_data_path = DATA_PATH + '//' + doc
clicks_train = pd.read_csv(acc_data_path)

In [14]:
clicks_train.columns

Index(['display_id', 'ad_id', 'clicked'], dtype='object')

In [32]:
clicks_train.head(20)

    display_id   ad_id  clicked
0            1   42337        0
1            1  139684        0
2            1  144739        1
3            1  156824        0
4            1  279295        0
5            1  296965        0
6            2  125211        0
7            2  156535        0
8            2  169564        0
9            2  308455        1
10           3   71547        0
11           3   95814        0
12           3  152141        0
13           3  183846        0
14           3  228657        1
15           3  250082        0
16           4  149930        0
17           4  153623        1
18           4  184709        0
19           4  186849        0

In [37]:
# We can see that the number of non-clicked ads is about 4 times the number of clicked ads
freq = clicks_train.clicked.value_counts()
print(freq)
print(freq[0] / freq[1])

0    70267138
1    16874593
Name: clicked, dtype: int64
4.164078979564129

In [70]:
# We can observe that there is large variance between the number of times each ad was seen - 
# most ads were seen only a couple of times(75% were seen less than 19 times), but some ads
# were seen more than 200,000 times
print(clicks_train.ad_id.value_counts().describe())
print()
# We can observe that the number of clicked ads is about a half of the number of all seen ads,
# and the large variance is still apparent
print(clicks_train[clicks_train['clicked'] == 1]['ad_id'].value_counts().describe())

count    478950.000000
mean        181.943274
std        1910.689568
min           1.000000
25%           2.000000
50%           5.000000
75%          19.000000
max      211824.000000
Name: ad_id, dtype: float64

count    254136.000000
mean         66.399853
std         578.431324
min           1.000000
25%           1.000000
50%           2.000000
75%           7.000000
max       44824.000000
Name: ad_id, dtype: float64

In [90]:
sample_clicked = clicks_train.sample(frac = 0.001)
sample_clicked.count()

display_id    87142
ad_id         87142
clicked       87142
dtype: int64

In [93]:
sum_clicks_per_ad_id = sample_clicked.groupby(['ad_id']).sum()
sum_clicks_per_ad_id

        display_id  clicked
ad_id
7          4048034        1
10         5663207        0
167       13344310        1
272        7081897        0
302        8286035        1
351        2094793        0
479       16433134        0
487       11944985        0
489       46833904        0
504        4918304        0
557       11485755        0
566       15161586        0
568        9870418        0
577        3985347        0
634       10306779        0
656       41449702        0
676         933330        1
681       10508929        0
692         118609        0
710       38488285        0
740        4892373        0
752      107168719        0
776        6324225        0
794       21457255        0
801       36330348        1
802       10476218        0
818       10037153        1
824       13931291        0
836       10371264        0
837       27560818        1
...            ...      ...
544143    16808784        1
544151    15681305        1
544167    32986643        1
544169    33128506        1
544426    16077214        0
544567    15614531        0
544780    16271178        0
544978    16635840        0
544998    15929369        0
545217    33484945        0
545358    16371568        1
545382    15971554        0
545443    16666426        0
545468    16731759        1
545474    16679386        1
545476    16722590        0
545584    16530410        1
545588    16551115        0
545593    16691909        0
545622    16415604        1
545694    16449163        0
545713    16472927        1
545720    16412929        0
545812    16668588        1
545844    16481132        0
545918    16662200        0
546316    16687660        1
546343    16775584        1
546370    16815798        0
546372    16795599        0

[23550 rows x 2 columns]

# events.csv

In [9]:
doc = 'events.csv'
acc_data_path = DATA_PATH + '//' + doc
events = pd.read_csv(acc_data_path)

C:\Users\Matan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [145]:
events.columns

Index(['display_id', 'uuid', 'document_id', 'timestamp', 'platform',
       'geo_location'],
      dtype='object')

In [146]:
events.head(20)

    display_id            uuid  document_id  timestamp  platform geo_location
0            1  cb8c55702adb93       379743         61       3.0    US>SC>519
1            2  79a85fa78311b9      1794259         81       2.0    US>CA>807
2            3  822932ce3d8757      1179111        182       2.0    US>MI>505
3            4  85281d0a49f7ac      1777797        234       2.0    US>WV>564
4            5  8d0daef4bf5b56       252458        338       2.0        SG>00
5            6  7765b4faae4ad4      1773517        395       3.0    US>OH>510
6            7  2cc3f6457d16da      1149661        602       2.0    US>MT>762
7            8  166fc654d73c98      1330329        638       2.0    US>PA>566
8            9  9dddccf70f6067      1772126        667       1.0    US>FL>528
9           10  b09a0e92aa4d17       157455        693       1.0           US
10          11  602e210c5831e5      1773230        710       3.0    US>IL>675
11          12  6fa993bd0e0157       892701        718       1.0    US>TX>612
12          13  7355615832b3af      1778533        739       1.0    US>AZ>753
13          14  daef797fc210a2      1759953        798       3.0    US>NC>560
14          15  24c64dc30891c0      1777136       1000       2.0           GB
15          16  30c0ad12b36375      1727882       1033       1.0    US>FL>561
16          17  c80c06d718ba65      1667725       1044       2.0    US>MI>540
17          18  eb58e66b4f6bb0       429183       1175       2.0    US>OR>820
18          19  c419799a427c72      1155107       1202       3.0    US>HI>744
19          20  650e3b5699738b      1642724       1282       2.0    US>MI>505

In [10]:
# We can see that the order of platform use is: mobile,desktop,tablet.
# In addition, we see a problem with some of the values here.
platforms = events.platform
platforms.value_counts()

2     10684579
1      8747280
3      3032907
2       291699
1       279988
3        83668
\N           5
Name: platform, dtype: int64

In [11]:
# Fix values in platforms
def fixVals(x):
    if x=='\\N':
        return np.nan
    return int(x)
new_platforms = platforms.apply(fixVals)
new_platforms.value_counts()

2.0    10976278
1.0     9027268
3.0     3116575
Name: platform, dtype: int64

In [12]:
events.platform = new_platforms
events.dropna(subset = ['platform'], inplace=True)
del platforms
np.sum(events.isnull())

display_id        0
uuid              0
document_id       0
timestamp         0
platform          0
geo_location    340
dtype: int64

In [13]:
# Display countries
locations = events.geo_location.dropna()
new_locations = locations.apply(lambda s: s[0:2])
new_locations.value_counts()

US    18595447
CA     1215350
GB     1117544
AU      483021
IN      228461
ZA      111523
NZ      109802
PH       85338
DE       82384
SG       81975
MY       53398
NL       51209
NG       41946
IE       39505
SE       38931
FR       38755
MX       35044
IT       28727
KE       26607
JP       25955
AE       25199
PK       25106
ES       24648
DK       24304
CH       23326
NO       23280
ID       22826
HK       20855
IL       14543
BE       14112
        ...
CG          67
MR          67
CV          66
TL          64
TJ          63
LI          55
CK          54
AX          46
GL          45
TD          40
GF          39
GQ          38
MF          35
TM          21
MS          20
KI          18
SM          12
FK          11
YT          10
GW          10
VA          10
CF           8
KM           7
ER           6
ST           6
PM           5
IO           4
NR           4
NU           4
TV           3
Name: geo_location, Length: 230, dtype: int64

# page_views_sample.csv

In [2]:
doc = 'page_views_sample.csv'
acc_data_path = DATA_PATH + '//' + doc
page_views = pd.read_csv(acc_data_path)

In [3]:
page_views.columns

Index(['uuid', 'document_id', 'timestamp', 'platform', 'geo_location',
       'traffic_source'],
      dtype='object')

In [4]:
page_views.head(20)

,uuid,document_id,timestamp,platform,geo_location,traffic_source
0,1fd5f051fba643,120,31905835,1,RS,2
1,8557aa9004be3b,120,32053104,1,VN>44,2
2,c351b277a358f0,120,54013023,1,KR>12,1
3,8205775c5387f9,120,44196592,1,IN>16,2
4,9cb0ccd8458371,120,65817371,1,US>CA>807,2
5,2aa611f32875c7,120,71495491,1,CA>ON,2
6,f55a6eaf2b34ab,120,73309199,1,BR>27,2
7,cc01b582c8cbff,120,50033577,1,CA>BC,2
8,6c802978b8dd4d,120,66590306,1,CA>ON,2
9,f4e423314303ff,120,48314254,1,US>LA>622,1
10,3937372ca2709b,120,24360074,1,NO,2
11,31f8d101c6a851,120,13847456,1,PH>D9,2
12,67606983fe1acf,984,82129416,2,US>OK>671,2
13,3f9d5b09ac4a0a,984,82583638,2,US,2
14,3dd8a359aa8699,984,59439284,2,US>MD>511,2
15,95e966c81b9316,984,983791,3,US>AL>698,2
16,483cf1feb3e47c,984,17944009,2,US>MI>505,1
17,f7baf0caf201ca,984,37096677,2,CA>AB,2
18,7a408fe90c02b3,984,30457643,1,PH,1
19,9ee2877617838a,984,86093121,3,US>MN>613,2

In [6]:
# Most of the traffic is internal - within the site. Equal traffic from social and search
page_views.traffic_source.value_counts()

1    6668961
2    1667170
3    1663868
Name: traffic_source, dtype: int64

In [7]:
np.sum(page_views.isnull())

uuid                0
document_id         0
timestamp           0
platform            0
geo_location      145
traffic_source      0
dtype: int64

In [8]:
# Display countries
locations = page_views.geo_location.dropna()
new_locations = locations.apply(lambda s: s[0:2])
new_locations.value_counts()

US    8198411
CA     400630
GB     297123
AU     141205
IN      94035
PH      58422
DE      48896
ZA      36581
FR      31029
SG      30610
NL      27572
MX      27126
NZ      25867
MY      24567
IE      24554
BR      19642
ID      19299
IT      18511
ES      18289
SE      17977
NG      15423
AE      13749
JP      13459
DK      12529
BE      12269
HK      11988
IL      11966
CH      11321
PL      10741
RO      10674
       ...
MH         40
MF         38
CG         34
PW         33
CK         32
TO         31
NE         31
TJ         31
DJ         28
MR         27
SY         24
TM         18
GQ         16
MS         15
FK         14
SM         14
IO         11
PM          9
YT          8
VA          7
TD          6
KI          6
ST          5
GW          5
NU          3
NR          3
KM          3
CF          3
CU          3
ER          2
Name: geo_location, Length: 234, dtype: int64

# promoted_content.csv

In [2]:
doc = 'promoted_content.csv'
acc_data_path = DATA_PATH + '//' + doc
promoted_content = pd.read_csv(acc_data_path)

In [3]:
promoted_content.columns

Index(['ad_id', 'document_id', 'campaign_id', 'advertiser_id'], dtype='object')

In [4]:
promoted_content.head(20)

    ad_id  document_id  campaign_id  advertiser_id
0       1         6614            1              7
1       2       471467            2              7
2       3         7692            3              7
3       4       471471            2              7
4       5       471472            2              7
5       6        12736            1              7
6       7        12808            1              7
7       8       471477            2              7
8       9        13379            1              7
9      10        13885            1              7
10     11        14230            1              7
11     12       446701           10             19
12     13       471499           10             19
13     14       471500           10             19
14     15       471501           10             19
15     16       471514           17             19
16     17       471517           10             19
17     18       471518           10             19
18     19       471519            5             19
19     20       446660           21             19

In [5]:
promoted_content.advertiser_id.value_counts()

266     16529
1635    15450
3829    14844
1634    10552
3922    10046
2656     9217
2874     9024
1206     8774
2754     7971
2848     7814
2110     6650
2556     6436
185      6391
201      6369
2030     6221
283      5592
2057     5078
415      4985
1510     4728
1378     4709
2804     4605
1352     4163
1637     3935
1347     3930
447      3926
4156     3597
1650     3308
752      3204
580      3148
2655     3071
        ...
3693        1
3172        1
4516        1
3824        1
4336        1
3399        1
2157        1
108         1
3690        1
3315        1
2666        1
935         1
4337        1
3688        1
3176        1
2375        1
3908        1
2293        1
2805        1
3317        1
1127        1
3174        1
615         1
2150        1
3175        1
2663        1
1449        1
4008        1
325         1
2195        1
Name: advertiser_id, Length: 4385, dtype: int64

In [6]:
promoted_content.campaign_id.value_counts()

7243     3806
16904    3604
13578    3049
16622    2765
8079     2738
5125     2519
8747     2185
8745     2141
8749     2029
8748     2005
462      1906
27171    1766
933      1751
27168    1715
27164    1547
27176    1483
26678    1457
27175    1427
27172    1395
27165    1373
13933    1352
140      1325
1757     1268
249      1268
15839    1246
18561    1241
27173    1226
27166    1151
4204     1129
26278    1088
         ...
23148       1
3908        1
13409       1
17741       1
7268        1
5221        1
3174        1
7494        1
31848       1
27754       1
23660       1
19566       1
17519       1
25417       1
21090       1
13921       1
27464       1
837         1
5733        1
2884        1
20078       1
20578       1
28489       1
1860        1
2153        1
17740       1
6251        1
7495        1
16992       1
2047        1
Name: campaign_id, Length: 34675, dtype: int64

In [8]:
np.sum(promoted_content.isnull())

ad_id            0
document_id      0
campaign_id      0
advertiser_id    0
dtype: int64

# documents_meta.csv

In [4]:
doc = 'documents_meta.csv'
acc_data_path = DATA_PATH + '//' + doc
documents_meta = pd.read_csv(acc_data_path)

In [5]:
documents_meta.columns

Index(['document_id', 'source_id', 'publisher_id', 'publish_time'], dtype='object')

In [9]:
documents_meta.head(20)

    document_id  source_id  publisher_id         publish_time
0       1595802        1.0         603.0  2016-06-05 00:00:00
1       1524246        1.0         603.0  2016-05-26 11:00:00
2       1617787        1.0         603.0  2016-05-27 00:00:00
3       1615583        1.0         603.0  2016-06-07 00:00:00
4       1615460        1.0         603.0  2016-06-20 00:00:00
5       1615354        1.0         603.0  2016-06-10 00:00:00
6       1614611        1.0         603.0  2016-06-05 13:00:00
7       1614235        1.0         603.0  2016-06-09 00:00:00
8       1614225        1.0         603.0  2016-06-09 00:00:00
9       1488264        1.0         603.0  2016-05-23 13:00:00
10      1614048        1.0         603.0  2016-06-05 12:00:00
11      1543808        1.0         603.0  2016-05-29 10:00:00
12      1543666        1.0         603.0  2016-05-29 10:00:00
13      1541439        1.0         603.0  2016-05-28 17:00:00
14      1613295        1.0         603.0  2016-06-05 00:00:00
15      1613215        1.0         603.0  2016-06-05 09:00:00
16      1524704        1.0         603.0  2016-05-28 00:00:00
17      1610319        1.0         603.0  2016-06-14 00:00:00
18      1542552        1.0         603.0  2016-05-30 00:00:00
19      1524546        1.0         603.0  2016-05-28 00:00:00

In [7]:
documents_meta.publisher_id.value_counts()

925.0     239495
450.0     218523
440.0     101947
435.0      95569
255.0      68363
388.0      68065
151.0      67720
1161.0     43263
328.0      41629
740.0      40758
61.0       40302
9.0        36155
421.0      35010
265.0      31320
158.0      30671
233.0      28569
27.0       26643
236.0      25167
118.0      24752
433.0      24274
206.0      23584
743.0      22460
56.0       21511
1217.0     20718
74.0       20597
58.0       20592
78.0       20378
876.0      20226
202.0      19626
84.0       18722
           ...
231.0          1
684.0          1
769.0          1
690.0          1
59.0           1
763.0          1
762.0          1
83.0           1
757.0          1
88.0           1
97.0           1
748.0          1
733.0          1
121.0          1
124.0          1
724.0          1
147.0          1
149.0          1
179.0          1
715.0          1
187.0          1
712.0          1
189.0          1
706.0          1
199.0          1
205.0          1
214.0          1
697.0          1
222.0          1
511.0          1
Name: publisher_id, Length: 1259, dtype: int64

In [10]:
# We can see that this data isn't complete - has lots of missing values.
np.sum(documents_meta.isnull())

document_id           0
source_id          2518
publisher_id      64024
publish_time    1011118
dtype: int64

In [11]:
# Need to take care of missing values somehow

# documents_entities.csv

In [2]:
doc = 'documents_entities.csv'
acc_data_path = DATA_PATH + '//' + doc
documents_entities = pd.read_csv(acc_data_path)

In [13]:
documents_entities.columns

Index(['document_id', 'entity_id', 'confidence_level'], dtype='object')

In [3]:
# 3 entities are much more likely to appear. Also, there are many different entities
values = documents_entities.entity_id.value_counts()
values

bd16d44696774327ea88b82595212b99    137055
e3e4b172a6e3fe3a428fb8d0f18cc611    126808
4b7289d10fcf4499ab14113c7e1b1c57    124124
3cfacc2fbdb261d00bdbaaad7500fc69     23710
024d2d0130c4b1737554ad62ba94c6fa     21823
896ebce354e38fd15e1097336c97e030     21617
94101adfc2f6bccba21ccd48fcd0efe2     20260
306e8bd0628115c9916fc437a760d93c     19816
98bf11f29dd0160f58d870c0c7c6f07f     17069
d551b0d2feb1f8a89239bccddd1165d8     15033
d5f978b0e26346b87a8895ff9c7734ed     14753
8fb694b25a41a6ffbb37870d7b15b9ef     12335
ac025f14f690261ef9ac173e141426e2     12113
a2563e5ab805a2f7cc0b82466707101d     11810
9da9595caa381755c9353ae7179f2117     11495
7f77b6d24f62a1ad1b469fdf4bc0a7f4     11179
1834eb4deaf946bebcd2f6a3e21e7261     10533
3a97c9eb9a642e38b3751d03952a3e1a      8859
8e233b1d2cd2bfe82a9ccdf8b6c81038      8849
172546fe32bad518321c9b15b9dc2a90      8846
f61658abe2b31a96dbde9e1c5319c875      8270
9293413d5f6c58e9952f0ab03066c7c2      7883
cf466fba71c45fffb360f9654866b8e2      7634
4aafb4afc42b4609a147ef2ac578d8e1      6729
10b99e5a727f542a1aa321fd3c72a94f      6261
df44f100f7abdb9fedfe40d8d30d136e      6258
7ae1a8e2f5f9454443d2423e477a8bbd      6162
88db3d820e4747dfa412d86474db664f      6083
9b19696afa7182359303364e878f9950      6004
7bba3be082ee718382549fc6a337e56f      5928
                                     ...
683c9288c19b796616ea19dcd60f9ea4         1
d4fa406a11444558b670f7c68c04bab0         1
afb4dd8ed8cb0fbbb3a06387955c2088         1
074780fd8189645df4a732097c1880d2         1
57cb5ad83fde694f57da2694383332a9         1
0c197d42cade2c10046bcf14efc3ef67         1
d3a59c4b57daa493b489accb44fb79d2         1
b14d03b4feeb20ec74753746ceb3e5a7         1
066073ee3a0ddb15d74ea8155fc0e972         1
6773f24849eba8c0584f5e652998ff20         1
1cf8d7bc3e79a75103f0d6a0888cadf8         1
896c0465343b57c37d00bcd2461bdad4         1
c1557c8a676c8579bfb613f606f0ac05         1
c2e84ae3b43b4263ccfd4216ede3904b         1
0a3b633e275c58f4fd5966d8311b9c9a         1
74bb7e1ea884aa5bd1851002a393f7f2         1
d5d691b1020a7691c9d04a0a673df670         1
5d53f14e45b75e9f1de53c7890a6753b         1
f8651b9f47a1207fce59c306283ed777         1
6ed111effd08f4189660f8fcbec80641         1
2053a8fba5d4c1a0a27ec38ff8a68db8         1
a7da7aed3935e2b7ed9b1fc95e33e5b3         1
7d457c7a380ac8861496df702a72db4a         1
f1a696c7d985645b24c8573caa9257ab         1
3cf47e2512eba7df223c7b6cc4219ff0         1
82607b37b05897d35c58a95b553835e7         1
8d3f89d8197217e1c4ce0b89fd8bc8ae         1
a3f57af1dfcb3f3ec27144f1e378a030         1
f151f64b3f815c61257f210be22668ec         1
005532391831f1e36f6263d1a165974f         1
Name: entity_id, Length: 1326009, dtype: int64

In [4]:
# Check confidence level of entities with different number of apperances
print(documents_entities[documents_entities['entity_id'] == values.keys()[0]].confidence_level.median())
print(documents_entities[documents_entities['entity_id'] == values.keys()[100]].confidence_level.median())
print(documents_entities[documents_entities['entity_id'] == values.keys()[500]].confidence_level.median())
print(documents_entities[documents_entities['entity_id'] == values.keys()[5000]].confidence_level.median())
print(documents_entities[documents_entities['entity_id'] == values.keys()[100000]].confidence_level.median())

0.7344697898706809
0.365405986129906
0.8375833062163951
0.275664816013684
0.8727121020676271

In [43]:
np.sum(documents_entities.isnull())

document_id         0
entity_id           0
confidence_level    0
dtype: int64

# documents_categories.csv

In [45]:
doc = 'documents_categories.csv'
acc_data_path = DATA_PATH + '//' + doc
documents_categories = pd.read_csv(acc_data_path)

In [46]:
documents_categories.columns

Index(['document_id', 'category_id', 'confidence_level'], dtype='object')

In [48]:
# There is a lot of variance in the apperance of categories. Also, there are less than 100 categories.
values = documents_categories.category_id.value_counts()
values

1403    572107
1702    408499
1902    292878
1513    276203
1808    241966
1100    212249
1907    181345
2004    159334
1408    155883
1708    142908
1707    136830
2100    125219
1407    124783
1706    105170
1205    103539
1903     95015
1703     93883
1510     83877
1603     77881
1602     74315
1806     68248
1604     67342
1405     64063
1609     63995
1514     60131
1608     57479
1503     57335
1909     55729
1402     54763
1406     54394
         ...
1910      7885
1802      7586
1206      7523
1304      6660
1705      6553
1305      5426
1000      5074
2005      4998
1211      4871
1915      4835
1804      3632
1208      3575
1202      3259
1509      2941
1704      2861
1507      2569
1516      2454
1605      2094
1307      1506
1911      1465
1905      1448
1308       473
1800         8
1200         7
2000         6
1900         5
1600         3
1500         2
1400         1
1700         1
Name: category_id, Length: 97, dtype: int64

In [59]:
# Check confidence level of categories with different number of apperances
print(documents_categories[documents_categories['category_id'] == values.keys()[0]].confidence_level.median())
print(documents_categories[documents_categories['category_id'] == values.keys()[10]].confidence_level.median())
print(documents_categories[documents_categories['category_id'] == values.keys()[30]].confidence_level.median())
print(documents_categories[documents_categories['category_id'] == values.keys()[60]].confidence_level.median())
print(documents_categories[documents_categories['category_id'] == values.keys()[90]].confidence_level.median())

0.277129576
0.06752522
0.25871660399999996
0.07
0.5

In [54]:
np.sum(documents_categories.isnull())

document_id         0
category_id         0
confidence_level    0
dtype: int64

# documents_topics.csv

In [55]:
doc = 'documents_topics.csv'
acc_data_path = DATA_PATH + '//' + doc
documents_topics = pd.read_csv(acc_data_path)

In [56]:
documents_topics.columns

Index(['document_id', 'topic_id', 'confidence_level'], dtype='object')

In [57]:
# There is a lot of variance in the apperance of topics. Also, there are only 300 topics.
documents_topics.topic_id.value_counts()

16     268216
184    256028
20     226877
140    195645
143    181260
181    177946
107    157643
235    156856
49     154783
8      139734
173    135951
136    124320
216    123496
231    122104
160    121968
153    121627
258    120182
43     111586
24     106559
25     105219
249    102675
265    101952
92      98563
97      98549
254     95615
252     95091
74      92482
294     92037
26      91760
260     91576
        ...
272      3704
278      3636
253      3498
7        3378
114      3328
188      3307
212      3304
158      3281
50       3238
28       3107
76       3091
31       3017
59       2959
236      2866
169      2817
273      2799
171      2694
218      2638
14       2584
195      2574
245      2492
99       2477
88       2450
40       2094
34       2008
251      1929
288      1883
123      1866
122      1839
293      1717
Name: topic_id, Length: 300, dtype: int64

In [58]:
np.sum(documents_categories.isnull())

document_id         0
category_id         0
confidence_level    0
dtype: int64